<div class="container fabric-processing-page pb-5">
  <section class="block">
    <div class="title"> I. GIA CÔNG VẢI LỌC</div>
    <div class="row">
      <%= image_tag 'fabric_processing/image1.png', class: "col-md-4" %>
      <div class="col-md-8 pt-3">
        <p>SIROCCO gia công và sản xuất vải lọc theo yêu cầu, theo kích thước khung bản mà khách hàng đang sử dụng. Chúng tôi đảm bảo sự gia công là chính xác, phù hợp khung bản.</p>
        <div class="sub-title mt-4">1. CẮT VẢI</div>
        <p>Tất cả các vị trí trên vải lọc được cắt bằng nhiệt với tốc độ cắt phù hợp, không nhanh. Nhằm đảm bảo mối cắt đủ thời gian để vật liệu nóng chảy và xoe mối nối. Hạn chế tối đa tình trạng vải bị tưa sau thời gian sử dụng</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 pt-3">
        <div class="sub-title"> 2. CỔ MAY</div>
        <p>Với từng loại vải lọc và vật liệu khác nhau, sẽ có loại vải may cổ phù hợp.</p>
        <p>Chúng tôi sử dụng máy khâu 1 kim, để tăng lực siết các đường chỉ khâu. Hạn chế tối đa tình trạng rò rỉ qua các đường chỉ may</p>
        <p>Số đường chỉ may phụ thuộc vào loại vải lọc</p>
      </div>
      <%= image_tag 'fabric_processing/image2.png', class: "col-md-4" %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'fabric_processing/image3.png', class: "col-md-12" %>
      </div>
      <div class="col-md-8 pt-3">
        <div class="sub-title">3. CẮT LỖ Ở GÓC</div>
        <p>Tùy vào khung máy khách hàng để xác định số lỗ cắt ở các góc Lỗ được cắt bằng nhiệt</p>
        <div class="sub-title mt-4">4. BẤM KHOEN</div>
        <p>Tùy vào yêu cầu của khách hàng cho gia công có bấm khoen hay không</p>
        <%= image_tag 'fabric_processing/image4.png', class: "col-md-8 offset-md-4" %>
      </div>
    </div>
  </section>
  <section class="block">
    <div class="title"> II. MỘT SỐ GIẢI PHÁP GIA CÔNG KHẮC PHỤC VẤN ĐỀ CỦA KHÁCH HÀNG</div>
    <div class="row">
      <%= image_tag 'fabric_processing/image5.png', class: "col-md-4" %>
      <div class="col-md-8 pt-3">
        <div class="sub-title">1. EDGE COATING</div>
        <p>Với khách hàng gặp vấn đề rò rỉ, làm thất thoát sản phẩm giá trị cao. Chúng tôi sẽ có giải pháp Glue coating edge. Giúp đóng các khoe lọc của vải và giảm rò rỉ.</p>
        <p>Đây là giải pháp hiệu quả nhất cho rò rỉ dung dịch lỏng</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 pt-3">
        <div class="sub-title"> 2. EDGE COVER</div>
        <p>Vấn đề này thường gặp với các khách hàng sử dụng khung bản bằng vật liệu thép hoặc nhôm. Sau một thời gian sử dụng, cạnh khung bị cong vênh và lực ép giữ khung không đủ để ép phẳng khung.</p>
        <p>Dẫn đến tình trạng vải lọc không khít, gây rò rỉ Vì vậy đây là giải pháp giúp tạo lớp đệm (ron). Hạn chế rò rỉ.</p>
      </div>
      <%= image_tag 'fabric_processing/image6.png', class: "col-md-4" %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'fabric_processing/image7.png', class: "col-md-12" %>
        <%= image_tag 'fabric_processing/image8.png', class: "col-md-12 mt-3" %>
      </div>
      <div class="col-md-8 pt-3">
        <div class="sub-title">3. GIA CỐ CỔ VẢI LỌC</div>
        <p>1. Với các sản phẩm có kích cỡ hạt particle size < 5um, sử dụng bột trợ lọc.. Khách hàng gặp sự cố rò rỉ dịch lọc sang chất lỏng.</p>
        <p>2. Vải lọc dễ bi rách tại vị trí cổ may</p>
        <p>3. Vải lọc quá cứng, cần một lớp vải đệm làm ron kín giữa vải lọc và cổ may.</p>
        <p>Đây là giải pháp hữu hiệu nhất cho các vấn đề này</p>
        <%= image_tag 'fabric_processing/image9.png', class: "col-md-9 offset-md-3 mt-3" %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="sub-title">CÁC GIẢI PHÁP KHÁC: HÃY GỌI VÀ GỬI EMAIL CHO CHÚNG TÔI, ĐỂ NHẬN ĐƯỢC DỊCH VỤ TỐT NHẤT</div>
        <p>Ngoài ra chúng tôi cũng có một số giải pháp cho các vị trí rách tại ô Ụ khung bản</p>
        <p>1. Bạn đã biết mục đích của các Ô ụ giữa các khung bản hay chưa ?</p>
        <p>2. Tại sao nó lại rách tại vị trí đó, may thêm lớp độn trên vải có phải là ý kiến tốt ?</p>
      </div>
    </div>
    <div class="row">
      <p class="note col-md-12">Với kinh nghiệm nhiều năm làm việc trong lĩnh vực Hóa Chất, Khai khoán và Môi trường. <br/>Chúng tôi tin sẽ làm bạn hài lòng</p>
    </div>
  </section>
</div>
